<form>
	<div class="list">
	<label class="item item-input">
		<textarea id="description" rows="4" placeholder="Kirjoita arvostelu" ng-model="review.desc"></textarea>
	</label>
	</div>
</form>

<div class="nbr-review-popup__stars">
	<i ng-show="review.stars == 0" class="icon ion-ios-star-outline" ng-click="review.stars = 1"></i>
	<i ng-show="review.stars >= 1" class="icon ion-ios-star" ng-click="review.stars = 1"></i>

	<i ng-show="review.stars < 2" class="icon ion-ios-star-outline" ng-click="review.stars = 2"></i>
	<i ng-show="review.stars >= 2" class="icon ion-ios-star" ng-click="review.stars = 2"></i>

	<i ng-show="review.stars < 3" class="icon ion-ios-star-outline" ng-click="review.stars = 3"></i>
	<i ng-show="review.stars >= 3" class="icon ion-ios-star" ng-click="review.stars = 3"></i>

	<i ng-show="review.stars < 4" class="icon ion-ios-star-outline" ng-click="review.stars = 4"></i>
	<i ng-show="review.stars >= 4" class="icon ion-ios-star" ng-click="review.stars = 4"></i>

	<i ng-show="review.stars < 5" class="icon ion-ios-star-outline" ng-click="review.stars = 5"></i>
	<i ng-show="review.stars == 5" class="icon ion-ios-star" ng-click="review.stars = 5"></i>
</div>

<span class="nbr-review-popup__error" id="review-error"></span>