.nbr-alert-box {
	width: 100%;
	height: 44px;
	background: rgba(75,232,139, 0.8);
	position: fixed;
	top: 44px;
	z-index: 999;
	padding: 10px 5px;
	color: #4c4d4f;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
	opacity: 0;
}