h2 {
	font-size: 1.5em;
}

$nbr-border-color: #DDD;

.nbr-pull-right {
	float: right;
}

.nbr-text-center {
	text-align: center;
}

.nbr-link {
	text-decoration: none;
	color: #000000;
}

.jr-crop-select {
	border: 1px solid #ffffff;
  }