<ion-view>
	<ion-nav-title>Lisää auto</ion-nav-title>
	<ion-content>
		<form name="addCarForm" ng-submit="addCar(addCarForm.$valid)" novalidate>
			<div class="list nbr-add-car__form">
				<div class="item item-divider">Perustiedot</div>
				<label class="item item-input">
					<span class="input-label">Rekisterinumero</span>
					<input type="text" ng-model="car.plate" required>
				</label>

				<label class="item item-input item-select">
					<span class="input-label">Merkki</span>
					<select ng-options="brand.name for brand in brands" ng-model="car.brand" ng-change="getModels(car.brand)" required></select>
				</label>

				<label class="item item-input item-select">
					<span class="input-label">Malli</span>
					<select ng-options="model for model in models" ng-model="car.model" required></select>
				</label>

				<label class="item item-input item-select">
					<span class="input-label">Vuosimalli</span>
					<select ng-options="year for year in years" ng-model="car.year" required></select>
				</label>

				<label class="item item-input item-select">
					<span class="input-label">Vaihteisto</span>
					<select ng-options="gear for gear in gears" ng-model="car.gear" required></select>
				</label>

				<label class="item item-input item-select">
					<span class="input-label">Polttoaine</span>
					<select ng-options="fuel for fuel in fuels" ng-model="car.fuel" required></select>
				</label>

				<div class="item item-divider">Hinnat</div>
				<label class="item item-input">
					<span class="input-label">Kilometrihinta</span>
					<input type="number" ng-model="car.kmPrice" required>
				</label>

				<label class="item item-input">
					<span class="input-label">Tuntihinta</span>
					<input type="number" ng-model="car.hPrice" required>
				</label>

				<label class="item item-input">
					<span class="input-label">Päivähinta</span>
					<input type="number" ng-model="car.dPrice" required>
				</label>

				<div class="item item-divider">Lisätiedot</div>
				<label class="item item-input">
					<textarea id="description" rows="4" ng-model="car.desc"></textarea>
				</label>

				<div class="item item-divider">Lisää kuvat</div>
				<div class="padding">
					<button type="button" class="button button-positive icon-left ion-image" ng-click="uploadPicture()">Lisää kuva</button>
					<button type="button" class="button button-positive icon-left ion-camera" ng-click="takePicture()">Ota kuva</button>
				</div>

				<div class="nbr-add-car__form-image" ng-repeat="img in car.imgData track by $index">
					<img ng-src="{{ img }}">
					<button type="button" class="button button-assertive" ng-click="deletePicture($index)">Poista</button>
				</div>
			</div>

			<div class="padding">
				<button type="button" class="button button-block button-positive" ng-click="fillData()">Täytä tiedot</button>
				<button type="submit" class="button button-block button-positive" ng-disabled="addCarForm.$invalid">Lisää auto</button>
			</div>
		</form>
	</ion-content>
</ion-view>
