<ion-view>
	<ion-nav-title>{{ car.brand }} {{ car.model }} - {{ car.year }}</ion-nav-title>

    <ion-nav-buttons side="secondary">
      <a class="button button-icon button-clear ion-edit" ng-if="isUser" ng-href="#/app/car/{{ car._id }}/edit"></a>
    </ion-nav-buttons>

	<ion-content>
		<ion-slides ng-show="car.img.length" class="nbr-car__image" options="options" slider="data.slider">
			<ion-slide-page ng-repeat="img in car.img">
				<img ng-src="{{ CAR_IMAGE_FOLDER }}/{{ img }}">
			</ion-slide-page>
		</ion-slides>

		<ion-slides ng-show="car.img.length == 0" class="nbr-car__image" options="options" slider="data.slider">
			<ion-slide-page>
				<img src="img/neibor-car.png">
			</ion-slide-page>
		</ion-slides>

		<div class="nbr-car__price">
			<div class="row">
		  		<div class="col">
		  			<strong>Kilometrihinta:</strong> {{ car.kmPrice }}€
		  		</div>
		  		<div class="col">
		  			<strong>Tuntihinta:</strong> {{ car.hPrice }}€
		  		</div>
			</div>

			<div class="row">
		  		<div class="col">
		  			<strong>Päivähinta:</strong> {{ car.dPrice }}€
		  		</div>
			</div>
		</div>

		<div class="item item-divider">
			<i class="icon ion-model-s"></i>
			<strong>Rekisterinumero</strong>
			<span class="nbr-pull-right">{{ car.plate }}</span>
		</div>
		<div class="item item-divider">
			<i class="icon ion-gear-b"></i>
			<strong>Vaihteisto</strong>
			<span class="nbr-pull-right">{{ car.gear }}</span>
		</div>
		<div class="item item-divider">
			<i class="icon ion-waterdrop"></i>
			<strong>Polttoaine</strong>
			<span class="nbr-pull-right">{{ car.fuel }}</span>
		</div>

		<div class="padding nbr-car__description" ng-show="car.desc">
			<h2>Lisätietoja</h2>
			<p>{{ car.desc }}</p>
		</div>

		<div class="padding">
	  			<h2>
					  <a class="nbr-link" ng-href="#/app/user/{{ car.user._id }}">{{ car.user.firstname }}</a>
				</h2>
	  			<p>{{ car.user.address }}, {{ car.user.postcode }} {{ car.user.city }}</p>
  				<a class="button button-balanced icon-left ion-iphone" ng-href="tel: {{ car.user.phone }}">{{ car.user.phone }}</a>
  				<a class="button button-calm icon-left ion-ios-email-outline" ng-href="{{ car.user.phone }}">Lähetä viesti</a>
		</div>
  	</ion-content>
</ion-view>
