<ion-view>
	<ion-nav-title>Muokkaa autoa</ion-nav-title>
	<ion-content>
		<form class="car-form" name="editCarForm" ng-submit="editCar(editCarForm.$valid)" novalidate>
			<div class="list">
				<div class="item item-divider">Hinnat</div>
				<label class="item item-input">
					<span class="input-label">Kilometrihinta</span>
					<input type="number" ng-model="car.kmPrice" required>
				</label>

				<label class="item item-input">
					<span class="input-label">Tuntihinta</span>
					<input type="number" ng-model="car.hPrice" required>
				</label>

				<label class="item item-input">
					<span class="input-label">Päivähinta</span>
					<input type="number" ng-model="car.dPrice" required>
				</label>

				<div class="item item-divider">Lisätiedot</div>
				<label class="item item-input">
					<textarea id="description" rows="4" ng-model="car.desc"></textarea>
				</label>

				<!-- TODO: kuvien muokkaus
				<div class="item item-divider">Lisää kuvat</div>
				<div class="padding">
					<button type="button" class="button button-positive icon-left ion-image" ng-click="uploadPicture()">Lisää kuva</button>
					<button type="button" class="button button-positive icon-left ion-camera" ng-click="takePicture()">Ota kuva</button>
				</div>

				<div class="car-form-image" ng-repeat="img in car.images track by $index">
					<img ng-src="{{ img }}">
					<button type="button" class="button button-assertive" ng-click="deletePicture($index)">Poista</button>
				</div>
				-->
			</div>

			<div class="padding">
				<button type="submit" class="button button-block button-positive" ng-disabled="editCarForm.$invalid">Tallenna auto</button>
			</div>
		</form>
	</ion-content>
</ion-view>