<ion-view >
	<ion-nav-title>Kartta</ion-nav-title>
	<ion-content>
		<div id="map" data-tap-disabled="true"></div>
	
    	<!--
    	<ion-list>
    		<ion-item ng-repeat="user in users">
    			<a href="#" ng-click="showUserPopup(user)">{{ user.firstname }} {{ user.lastname }}</a>
    		</ion-item>
    	</ion-list>
    	-->
  	</ion-content>
</ion-view>
