<ion-view >
	<ion-nav-title>Kirjaudu sisään</ion-nav-title>
	<ion-content>
        <form name="loginFOrm" novalidate>
        	<div class="list">
        		<label class="item item-input">
        			<input type="email" name="email" placeholder="Sähköpostiosoite" ng-model="user.email">
        		</label>

        		<label class="item item-input">
        			<input type="password" name="password" placeholder="Salasana" ng-model="user.password">
        		</label>
        	</div>

            <div class="padding">
                <button class="button button-block button-positive" ng-click="fillData()" ng-disabled="registerForm.$invalid">Täytätiedot</button>
                <button class="button button-block button-positive" ng-click="login()" ng-disabled="registerForm.$invalid">Kirjaudu sisään</button>
            </div>
        </form>
  	</ion-content>
</ion-view>
