<ion-view >
	<ion-nav-title>Kirjaudu ulos</ion-nav-title>
	<ion-content>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="logout()">Kirjaudu ulos</button>
        </div>
  	</ion-content>
</ion-view>
