<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-assertive" align-title="center">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar class="bar-assertive">
			<h1 class="title">Valikko</h1>
		</ion-header-bar>
		<ion-content>
			<div class="list">
				<div class="item item-divider nbr-text-center">Neibor</div>
				<a class="item item-icon-left" menu-close href="#/app/home">
					<i class="icon ion-ios-location"></i>
					Kartta
				</a>
				<a class="item item-icon-left" menu-close href="#/app/faq">
					<i class="icon ion-help"></i>
					UKK
				</a>
				<a class="item item-icon-left" menu-close href="#/app/info">
					<i class="icon ion-information-circled"></i>
					Tietoa meistä
				</a>

				<div class="item item-divider nbr-text-center">
					{{ currentUser.firstname }} {{ currentUser.lastname }}
				</div>
				<a class="item item-icon-left" menu-close href="#/app/search">
					<i class="icon ion-search"></i>
					Hae käyttäjiä
				</a>
				
				<div ng-if="currentUser">
					<a class="item item-icon-left" menu-close href="#/app/addcar">
						<i class="icon ion-android-car"></i>
						Lisää auto
					</a>
					<a class="item item-icon-left" menu-close ng-href="#/app/profile">
						<i class="icon ion-person"></i>
						Omat tiedot
					</a>

					<a class="item item-icon-left" menu-close ng-href="#/app/logout">
						<i class="icon ion-log-out"></i>
						Kirjaudu ulos
					</a>
				</div>

				<div ng-if="!currentUser">
					<a class="item item-icon-left" menu-close href="#/app/login">
						<i class="icon ion-log-in"></i>
						<strong>Kirjaudu sisään</strong>
					</a>
					<a class="item item-icon-left" menu-close href="#/app/register">
						<i class="icon ion-android-person-add"></i>
						<strong>Rekisteröidy</strong>
					</a>
				</div>
			</div>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
