<ion-view>
	<ion-nav-title>Muokkaa profiilia</ion-nav-title>
	<ion-content>
		<div class="nbr-profile__image">
			<img src="img/neibor-profile.png">
		</div>

		<form name="settingsForm" ng-submit="editProfile(settingsForm.$valid)" novalidate>
            <div class="list">
                <div class="item item-divider">Salasana</div>
                <label class="item item-input">
                    <input type="password" placeholder="Salasana" ng-model="user.newPassword">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Salasana uudelleen" ng-model="user.newPasswordAgain">
                </label>

                <div class="item item-divider">Henkilötiedot</div>
        		<label class="item item-input">
        			<input type="text" placeholder="Etunimi" ng-model="user.firstname" required>
        		</label>
                <label class="item item-input">
                    <input type="text" placeholder="Sukunimi" ng-model="user.lastname" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Puhelin" ng-model="user.phone" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Osoite" ng-model="user.address">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Kaupunki" ng-model="user.city">
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Postinumero" ng-model="user.postcode">
                </label>
        	</div>

            <div class="padding">
                <button type="submit" class="button button-block button-positive" ng-disabled="settingsForm.$invalid">Muokkaa tietoja</button>
            </div>
        </form>
  	</ion-content>
</ion-view>
