<ion-view >
	<ion-nav-title>Rekisteröidy</ion-nav-title>
	<ion-content>
        <form name="registerForm" novalidate>
            <div class="list">
                <div class="item item-divider">Kirjautumistiedot</div>
                <label class="item item-input">
                    <input type="email" placeholder="Sähköposti" ng-model="user.email" required>
                </label>

                <label class="item item-input">
                    <input type="password" placeholder="Salasana" ng-model="user.password" required>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Salasana uudelleen" ng-model="user.passwordAgain" required>
                </label>

                <div class="item item-divider">Henkilötiedot</div>
        		<label class="item item-input">
        			<input type="text" placeholder="Etunimi" ng-model="user.firstname" required>
        		</label>
                <label class="item item-input">
                    <input type="text" placeholder="Sukunimi" ng-model="user.lastname" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Puhelin" ng-model="user.phone" required>
                </label>
                <label class="item item-input">
                    <input type="text" id="user-address" placeholder="Osoite" ng-model="user.address" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Kaupunki" ng-model="user.city" required>
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Postinumero" ng-model="user.postcode" required>
                </label>
        	</div>

            <div class="padding">
                <button type="button" class="button button-block button-positive" ng-click="register()" ng-disabled="registerForm.$invalid">Rekisteröidy</button>
            </div>
        </form>
  	</ion-content>
</ion-view>
