<ion-view >
	<ion-nav-title>Hae käyttäjiä</ion-nav-title>
	<ion-content>
        <form>
        	<div class="list">
        		<div class="item item-input">
        			<input type="text" name="input" placeholder="Kirjoita nimi tai puhelinnumero" autocomplete="off" ng-model="input" ng-change="searchByName(input)">
                    <button class="button button-icon" ng-click="searchByNumber(input)">
                        <i class="icon ion-search"></i>
                    </button>
        		</div>

                <div class="list">
                    <a class="item item-avatar" ng-href="#/app/user/{{ user._id }}" ng-repeat="user in filteredUsers">
                        <img src="img/neibor-profile.png">
                        {{ user.firstname }} {{ user.lastname }}
                        <p ng-show="user.city">{{ user.city }}</p>
                        <p ng-show="!user.city">-</p>
                    </a>
                </div>
        	</div>
        </form>
  	</ion-content>
</ion-view>
