<ion-view>
	<ion-nav-title>Omat tiedot</ion-nav-title>

	<ion-content>
		<div class="nbr-profile__image">
			<img ng-show="!user.img" src="img/neibor-profile.png">
			<img ng-show="user.img" ng-src="{{ PROFILE_IMAGE_FOLDER}}/{{ user.img }}">
		</div>
		
		<div class="nbr-profile__name">
			<p>{{ user.firstname }}</p>
		</div>

		<div class="item item-divider">
			<strong>Puhelinnumero</strong> 
			<span class="nbr-pull-right">{{ user.phone }}</span>
		</div>
		<div class="item item-divider">
			<strong>Kotikaupunki</strong> 
			<span ng-if="user.city" class="nbr-pull-right">{{ user.city }}</span>
			<span ng-if="!user.city" class="nbr-pull-right">-</span>
		</div>

		<!-- TODO: keksi tähän parempi vaihtoehto -->
		<a class="item item-divider" ng-repeat="car in user.cars" ng-href="#/app/car/{{ car._id }}">
			{{ car.brand }} {{ car.model }}
		</a>

		<div class="nbr-profile__reviews">
			<div class="padding nbr-profile__reviews-stars--new">
				<h2>
			 		<span>
			 			<i ng-show="user.reviewsAvg >= 1" class="icon ion-ios-star"></i>
			 			<i ng-show="user.reviewsAvg < 1" class="icon ion-ios-star-outline"></i>
			 		</span>
			 		<span>
			 			<i ng-show="user.reviewsAvg >= 2" class="icon ion-ios-star"></i>
			 			<i ng-show="user.reviewsAvg < 2" class="icon ion-ios-star-outline"></i>
			 		</span>
			 		<span>
			 			<i ng-show="user.reviewsAvg >= 3" class="icon ion-ios-star"></i>
			 			<i ng-show="user.reviewsAvg < 3" class="icon ion-ios-star-outline"></i>
			 		</span>
			 		<span>
			 			<i ng-show="user.reviewsAvg >= 4" class="icon ion-ios-star"></i>
			 			<i ng-show="user.reviewsAvg < 4" class="icon ion-ios-star-outline"></i>
			 		</span>
			 		<span>
			 			<i ng-show="user.reviewsAvg >= 5" class="icon ion-ios-star"></i>
			 			<i ng-show="user.reviewsAvg < 5" class="icon ion-ios-star-outline"></i>
			 		</span>
				</h2>

				<button class="button button-icon icon ion-plus-circled" ng-click="addReview()"></button>
			</div>

			<div class="padding nbr-profile__reviews-review" ng-repeat="review in user.reviews | orderBy: '-ctime'">
			 	<p>
			 		<span>
			 			<i ng-show="review.stars >= 1" class="icon ion-ios-star"></i>
			 			<i ng-show="review.stars < 1" class="icon ion-ios-star-outline"></i>
			 		</span>
			 		<span>
			 			<i ng-show="review.stars >= 2" class="icon ion-ios-star"></i>
			 			<i ng-show="review.stars < 2" class="icon ion-ios-star-outline"></i>
			 		</span>
			 		<span>
			 			<i ng-show="review.stars >= 3" class="icon ion-ios-star"></i>
			 			<i ng-show="review.stars < 3" class="icon ion-ios-star-outline"></i>
			 		</span>
			 		<span>
			 			<i ng-show="review.stars >= 4" class="icon ion-ios-star"></i>
			 			<i ng-show="review.stars < 4" class="icon ion-ios-star-outline"></i>
			 		</span>
			 		<span>
			 			<i ng-show="review.stars >= 5" class="icon ion-ios-star"></i>
			 			<i ng-show="review.stars < 5" class="icon ion-ios-star-outline"></i>
			 		</span>

			 		<a ng-href="#/app/user/{{ review.user._id }}">{{ review.user.firstname }}</a>

			 		<span class="nbr-pull-right">{{ review.ctime | date:'H:mm d/M/yyyy' }}</span>
		 		</p>

			 	<p>{{ review.desc }}</p>
	 		</div>
		</div>
  	</ion-content>
</ion-view>
