.nbr-add-car {
	&__form {
		input, select {
			padding-right: 2.5rem;
			text-align: right;
			font-size: 16px;
		}
	
		img {
			width: 50px;
			height: 50px;
		}
	}
	
	&__form-image {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-top: 1px solid $nbr-border-color;;
			padding: 10px;
	
			&:last-child {
				border-bottom: 1px solid $nbr-border-color;
			}
	}
}