.nbr-car {
    &__image {
	width: 100%;
	height: 240px;
	background: #f5f5f5;
    text-align: center;
    
        img {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &__price {
        color: #33cd5f;
    }

    &__description {
        border-bottom: 1px solid $nbr-border-color;
    }
}