.nbr-profile {
	&__image {
		margin: 1rem;
		text-align: center;
		box-sizing: border-box;
	
		img {
			width: 150px;
			height: 150px;
			display: block;
			margin: 0 auto;
			border: 1px solid $nbr-border-color;
			border-radius: 2px;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
		}
	}

	&__name {
		margin-bottom: 15px;
		font-size: 1.5em;
		text-align: center;
	}

	&__reviews {
		margin-top: 2rem;
	}

	&__reviews-stars {
		h2 {
			margin: 0;
		}
	
		&--new {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__reviews-review {
		border-top: 1px solid $nbr-border-color;
		padding-bottom: 2rem;
	}
}

.nbr-review-popup {
	&__stars {
		font-size: 2em;
	}

	&__error {
		color: #FF0000;
	}
}